%h1 Edit Team

!= partial("errors.html.haml", { locals: { ctx: ctx } })

%form{ method: 'POST', action: '/teams/' + ctx.team.toParam() }
  %input{ type: 'hidden', name: '_method', value: 'put' }
  != partial('teams/form.html.haml', { locals: { ctx: ctx } })
  %p
    %input.button{ type: 'submit', value: 'Save' }
