%h1 Edit Team

!= partial("errors.html.haml", { locals: { ctx: ctx } })

%form{ method: 'POST', action: '/teams/' + ctx.team.id() + '?_method=PUT' }
  != partial('teams/form.html.haml', { locals: { ctx: ctx } })
  %p
    %input.button{ type: 'submit', value: 'Save' }