%h1 Leaderboard

%p.sort
  Order by:
  %a.current{ href: '#overall' } Overall
  |
  %a{ href: '#utility' } Utility
  |
  %a{ href: '#design' } Design
  |
  %a{ href: '#innovation' } Innovation
  |
  %a{ href: '#completeness' } Completeness
  |
  %a{ href: '#popularity' } Popularity

%ul.teams
  - each team in ctx.teams
    %li!= partial('teams/application.html.haml', { locals: { team: team, score: team.score } })
.clear

%p.note
  These are the entries that have been verified. A full list of teams that
  participated will appear after voting has finished.
