%h2.ribbon
  Teams
%p
  - if (ctx.yourTeams.length === 1)
    Your team:
    %a{ href: '/teams/' + ctx.yourTeams[0].id() }= ctx.yourTeams[0].name
  - if (ctx.yourTeams.length > 1)
    Your teams:
    - each team in ctx.yourTeams
      %a{ href: '/teams/' + team.id() }= team.name
%h3
  All Teams
  = ' (' + ctx.teams.length + ')'
%ol
  - each team in ctx.teams
    %li
      %a{ href: '/teams/' + team.id() }= team.name
- if (ctx.teams.length < 200)
  %p
    %a.button{ href: '/teams/new' } Register Now!
