%h1 Leaderboard

.sort
  Order by:
  %a{ href: '#' } Overall
  |
  %a{ href: '#' } Utility
  |
  %a{ href: '#' } Design
  |
  %a{ href: '#' } Innovation
  |
  %a{ href: '#' } Completeness
  |
  %a{ href: '#' } Popularity

%ul.teams
  - each team in ctx.teams
    %li!= partial('teams/application.html.haml', { locals: { team: team, score: team.score } })
.clear

%p.note
  These are the entries that have been verified. A full list of teams that
  participated will appear after voting has finished.
