%h1 Register

%p
  Not sure? No worries! You can update these
  details after registration too.

!= partial("errors.html.haml", { locals: { ctx: ctx } })

%form{ method: 'POST', action: '/teams' }
  != partial('teams/form.html.haml', { locals: { ctx: ctx } })
  %p
    %input.button{ type: 'submit', value: 'Register!' }
