%h1 Register

%p.note
  Not sure? No worries! You can update these
  details after registration too.

%form{ method: 'POST', action: '/teams' }
  != this.partial('teams/form.html.haml')
  %input.button{ type: 'submit', value: 'Register!' }