%h1.ribbon Register

%p.note
  Not sure? No worries! You can update these
  details after registration too.

!= this.partial("errors.html.haml")

%form{ method: 'POST', action: '/teams' }
  != this.partial('teams/form.html.haml')
  %p
    %input.button{ type: 'submit', value: 'Register!' }
