.note
  This is it for now.  We&rsquo;ll likely ask for more
  details soon.

%h1= this.team.name
- if (this.members)
  %h2 Members
  %ul
    - each member in this.members
      %li
        %a{ href: '/people/' + member.id() }= member.name || member.email
        %a{ href: '#'}.button Reinvite
        %a{ href: '#'}.button Remove
%form{ method: "POST", action: "/teams/" + this.team.id() }
  %input{ type: "hidden", name: "_method", value: "delete" }
  %input{ type: "submit", name: "delete", value: "Delete this team?"}