.note
  This is it for now.  We&rsquo;ll likely ask for more
  details soon.

%h1= this.team.name
- if (this.members)
  %h2 Members
  %ul
    - each member in this.members
      %li
        = member.name || member.email
        %a{ href: '#'} Reinvite
        %a{ href: '/people/' + member.id() + '/edit' } Edit
        %a{ href: '#'} Remove

- if (this.editAllowed)
  %a.button{ href: '/teams/' + this.team.id() + '/edit' } Edit
  %a.button{ href: '/teams/' + this.team.id() + '?_method=DELETE' } Delete