html
  :height 100%
  :overflow hidden
body
  :color white
  :padding 0
  :margin 0
  :height 100%
  :width 100%
  :display table
.logo
  :display table-cell
  :text-align center
  :vertical-align middle
  :height 100%
  :width 100%
  img
    :margin-top -150px