// http://kuler.adobe.com/#themeID/337112
!black = #10222B
!dark_green = #95AB63
!light_green = #BDD684
!light_blue = #7e9699
!white = #F6FFEF
!red = #a80000

body
  :font-family 'helvetica neue', helvetica, arial, sans-serif
  :padding 0
  :margin 0
  :text-align center
  :min-height 800px
  :background-color !black
  :background-image -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(transparent))
  :background-image -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.3), transparent)

a:link, a:visited
  :color !light_blue
a img
  :border none

#content
  :display table
  :margin 20px auto

#page, #sidebar
  :display table-cell
  :vertical-align top

input[type=password], input[type=email], input[type=text]
  :font-size xx-large
  :padding 5px 5px
  :margin 5px 0px
  :width 14em
  :border solid 1px #ccc
  :-webkit-border-radius 3px
  :-moz-border-radius 3px
  :-webkit-box-shadow 0px 0px 5px rgba(0, 0, 0, 0.1)
  :-moz-box-shadow 0px 0px 5px rgba(0, 0, 0, 0.1)

input.error
  :-webkit-box-shadow 0px 0px 5px rgba(88, 0, 0, 0.8)
  :-moz-box-shadow 0px 0px 5px rgba(88, 0, 0, 0.8)
  :border-color !red

.ribbon, .localtime
  :display inline-block
  :background-color !light_green
  :border solid 1px !dark_green
  :margin-left -25px
  :padding 5px 25px
  :color !white
  :text-shadow 0px -1px 0px rgba(0, 0, 0, 0.15)
  :-webkit-box-shadow 1px 1px 5px rgba(0, 0, 0, 0.1)
  :-moz-box-shadow 1px 1px 5px rgba(0, 0, 0, 0.1)
.blue
  :background-color !light_blue
  :background-image -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.0)))
  :background-image -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0))
  :border-color rgba(0, 0, 0, 0.15)
  :color #ccc
  a
    :color !white
    :text-shadow 0px -1px 0px rgba(0, 0, 0, 0.15)
    :text-decoration none
    &:hover
      :text-decoration underline
  .vr
    :margin 1ex
    :color rgba(100, 100, 100, 0.1)
    :color rgba(0, 0, 0, 0.15)

#page
  :width 70ex
  :text-align left
  :background !white url('/images/noise.png')
  :border solid 1px rgba(0, 0, 0, 0.5)
  :padding 1em 20px
  :-webkit-box-shadow 1px 1px 10px rgba(0, 0, 0, 0.2)
  :-moz-box-shadow 1px 1px 10px rgba(0, 0, 0, 0.2)
  :color !black
  :text-shadow 0px 1px 0px rgba(255, 255, 255, 0.9)
  header h1
    :text-align center
    :background url('/images/nodeko.png') no-repeat 50% 50%
    :text-shadow none
    :padding 20px
    a
      :color transparent
  nav
    :display block
    :position relative
    :text-align center
    :font-size medium
    :padding 12px 0px 10px
    :background-color rgba(126, 150, 153, 0.15)
    :background-image -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), color-stop(0.15, transparent))
    :background-image -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0.1), transparent 10%)
    :-webkit-box-shadow 0px 2px 3px rgba(0, 0, 0, 0.1)
    :-moz-box-shadow 0px 2px 3px rgba(0, 0, 0, 0.1)
    :-webkit-border-radius 3px
    :-moz-border-radius 3px
    ul
      :list-style-type none
      :margin 0px
      :padding 0px
    li
      :display inline
    a
      :text-decoration none
      &:hover
        :text-decoration underline
    .vr
      :margin 1ex
      :color rgba(100, 100, 100, 0.3)
    a.twitter
      .say
        :display none
        :font-size x-small
        :position absolute
        :top -60px
        :right 45px
        :background-color rgba(255, 255, 255, 0.5)
        :padding 8px
        :border solid 1px rgba(0, 0, 0, 0.1)
        :-webkit-border-radius 5px
        :-moz-border-radius 5px
        :-webkit-box-shadow 0px 0px 10px rgba(0, 0, 0, 0.1)
      img
        :position absolute
        :top -24px
        :right -10px
        :width 50px
        :height 28px
  h2, h3
    :margin-bottom 0px
  .heart
    :color #da6a6c
  #date
    :text-align center
    :font-size x-large
    :font-weight normal
    .about
      :font-size small
      :line-height 150%
      :margin-top 0.5ex
  ul#errors
    li
      :color !red
      :font-weight bold
      :line-height 150%
  time
    :position relative
    :overflow visible
    :border-bottom 1px dotted !black
    .localtime
      :position absolute
      :top -4em
      :right 0px
      :white-space nowrap
      :color !white
      div
        :font-size small
  p, .body ul
    :line-height 150%
  p.footnote
    :text-align center
    :font-size small
  .button
    &.large
      :padding 15px
      :font-size x-large
      :background-color !red
      :background-image -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)))
      :background-image -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0))
      :border-color rgba(0, 0, 0, 0.15)
    :display inline-block
    :margin-bottom 0.5ex
    :font-size large
    :padding 2px 10px
    :text-decoration none
    :-webkit-box-shadow 1px 1px 5px rgba(0, 0, 0, 0.1)
    :-moz-box-shadow 1px 1px 5px rgba(0, 0, 0, 0.1)
    :background-color !light_blue
    :border solid 1px !light_blue
    :color !white
    :text-shadow 0px -1px 0px rgba(0, 0, 0, 0.15)
    :-webkit-border-radius 3px
    :-moz-border-radius 3px
    :background-image -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.35)), to(rgba(255, 255, 255, 0)))
    :background-image -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0))
    &:active
      :background-image -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.3)))
      :background-image -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3))
  .hidden
    :display none
  footer
    :margin-top 3em
    :padding 8px 25px
    :font-size small

aside#pullout
  :display block
  :position relative
  :width 240px
  :text-shadow 0px 1px 0px rgba(0, 0, 0, 0.8)
  :font-size small
  :padding-left 10px
  a
    :color #a7c7cb !important
  #current_person
    :display table
    :border-spacing 10px
    :margin 50px auto 0px
    :text-align left
    :line-height 125%
    :font-size medium
    :background-color rgba(0, 0, 0, 0.3)
    :border solid 1px rgba(0, 0, 0, 0.3)
    :-webkit-border-radius 3px
    :-moz-border-radius 3px
    :-webkit-box-reflect below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(rgba(255, 255, 255, 0.6)))
    .vr
      :color !white
      :margin 0px 10px
    img, .info
      :display table-cell
      :vertical-align middle
    img
      :-webkit-transform rotate(-5deg)
      :-moz-transform rotate(-5deg)
      :border solid 2px rgba(255, 255, 255, 0.7)
      :width 40px
      :height 40px
    a[href$=logout]
      :color #999 !important
      :font-size small
  #sponsors
    :position absolute
    :top 142px
    a
      :color #a7c7cb !important
    h2 .container
      :padding-left 10px
    p
      :padding-left 10px
      :margin 1.5em 0px
      &:first-child
        :margin-top 0px
    p#mongodb
      :margin-top -1em
    img
      :border 0px

.body._judging
  img
    :float left
    :margin-top -1em
    :margin-bottom 2em
    :padding 3px
    :-webkit-border-radius 3px
    :-moz-border-radius 3px
    :-webkit-box-shadow 0px 0px 5px rgba(0, 0, 0, 0.3)
    :-moz-box-shadow 0px 0px 5px rgba(0, 0, 0, 0.3)
  h3
    :margin-left 140px
    :clear left
    a
      :font-weight normal
  p
    :margin-left 140px
  p.description
    :margin-left 0px
