%h2.ribbon Frequently Asked Questions
%h3 Where do I register?
%p
  I have no idea.
%h3 No really, where do I register?
%p
  Gerad's working on it.
%h3 When will he be done?
%p
  I have no idea.
%h3 No really&hellip;
%p
  Geez, sometime this week unless we get bogged down doing other things.
%h3 Why the attitude?
%p
  Probably due to alcohol.
