%h1 Frequently Asked Questions

%h2 Why do you have so many expert judges?
%p
  The reason for this is simply a matter of math: if we want each of the ~200
  teams to have at least 3 expert reviews, then 600 expert reviews need to be
  written. We can’t ask experts to write more than 10 reviews each because we
  want every review to be as thoughtful as possible. Hence we needed to get
  over 60 expert judges. Fortunately, we were able to achieve that goal with a
  %a{ href: '/judging#judges' } very talented pool
  of judges.

%h2 Can I require users to use Chrome / WebKit (or whatever else)?
%p
  You can do anything you want, but consider who your judges and audience are.
  Winners are likely to be near-universally compatible, but some contestants
  might ignore IE support. As of this writing, the browser breakdown of
  visitors to this website are:
%ul
  %li Chrome &mdash; 38% (5: 29% / 6: 8.7%)
  %li Safari &mdash; 26% (5: 16% / 4: 6.7%)*
  %li Firefox &mdash; 24% (3.6: 20% / 3.5: 3.0%)
  %li Internet Explorer &mdash; 1.3%
%p
  *Google Analytics only gives &ldquo;531.22.7&rdquo;&ndash;type version strings
  for Safari. Versions 5.0 and 4.1
  %a{ href: 'http://www.useragentstring.com/pages/Safari/' } seem to be conflated
  and 5.0 just came out, so don&rsquo;t exactly trust this breakdown.

%h2 Who are you guys?
%p
  We are
  != ' <a href="http://fortnightlabs.com">Fortnight Labs</a>. '
  We&rsquo;re just two guys that have worked on
  != ' <a href="http://fortnightlabs.com/portfolio">a lot of web stuff</a>.'
  %a{ href: 'mailto:all@fortnightlabs.com' } Contact us
  if you have an idea that needs making.
