%h2.ribbon Frequently Asked Questions
%h3 Does it have to be a web application? 
%p
  We're focusing on web applications because of judging: it&rsquo;s hard for judges
  (especially the general public) to fairly evaluate apps that require
  compilation or setup. If you want to enter to hack on a non-web app for 48
  hours, you&rsquo;re welcome to, but you aren&rsquo;t likely to get judged fairly.
%p
  If an app is not a website, but some library, utility, or desktop program, then
  it must be deployed to the npm registry.
%h3 Can I require users to use Chrome / WebKit (or whatever else)?
%p
  You can do anything you want, but again, consider who your judges and
  audience are. Winners are likely to be near-universally compatible, but some
  contestants might ignore IE support. As of this writing, the browser
  breakdown of visitors to this website are:
%ul
  %li Chrome &mdash; 38% (5: 29% / 6: 8.7%)
  %li Safari &mdash; 26% (5: 16% / 4: 6.7%)*
  %li Firefox &mdash; 24% (3.6: 20% / 3.5: 3.0%)
  %li Internet Explorer &mdash; 1.3%
%p
  *Google Analytics only gives &ldquo;531.22.7&rdquo;&ndash;type version strings
  for Safari. Versions 5.0 and 4.1
  %a{ href: 'http://www.useragentstring.com/pages/Safari/' } seem to be conflated
  and 5.0 just came out, so don&rsquo;t exactly trust this breakdown.
%h3 Can I use my own server?
%p
  Sorry, not for the competition. Deploying to a limited set of environments
  that we can access helps us manage the competition and prevent cheating.
%h3 What are the prizes?
%p
  We&rsquo;re still lining up sponsors and prizes.  We will have the
  following prize categories:
%ul
  %li Overall
  %li Best solo (one-person team)
  %li Innovation
  %li Completeness
  %li Usefulness
  %li Appearance
  %li Popularity