%h2.ribbon Frequently Asked Questions
%h3 Does it have to be a web application? 
%p
  We're focusing on web applications because of judging: it's hard for judges
  (especially the general public) to fairly evaluate non-web apps that require
  compilation or setup. If you want to enter to hack on a non-web app for 48
  hours, you're welcome to, but you aren't likely to get judged fairly.
%p
  We're considering the possibility of having a special category for non-web
  apps. If we do have such a prize, then if an app is not a website, but some
  library, utility, or desktop program, then it must be deployed to the npm
  registry.
%h3 Can I use my own server?
%p
  Deploying to a limited set of environments that we can access helps us manage
  the competition and prevent cheating. 
%p
  If you think you absolutely, positively must use your own server, then
  contact all@nodeknockout.com before the competition begins and we will
  consider your request.  It creates significantly more work for the very few
  organizers, so most requests will likely be denied.
%h3 What are the prizes?
%p
  We're still lining up sponsors and prizes.  We're currently considering the
  following prize categories:
%ul
  %li Overall: 1st, 2nd, 3rd
  %li Best solo (one-person team)
  %li Best non-web application
  %li Innovation
  %li Completeness
  %li Usefulness
  %li Appearance
  %li Popularity
