header
  h1
    | node.js
    span.ko ko

h3
  | node.js knockout is a 48-hour coding contest using
  a( href: 'http://nodejs.org' ) node.js

h2
  | node.js knockout 2011 will be
  .dates
    time.start( datetime: '2011-08-27T00:00:00Z' ) August 27
    |  &mdash;
    time.end( datetime: '2011-08-29T00:00:00Z' ) August 29, 2011
  #countdown

.now-what
  | What do I do until then?
  a( href: '#' ) See last year's winners
  |  or
  a( href: '#' ) follow us on Twitter

footer
  ul
    li: a( href: 'http://twitter.com/node_knockout' ) @node_knockout
    li: a( href: 'mailto:all@nodeknockout.com' ) all@nodeknockout.com
    li: a( href: 'http://blog.nodeknockout.com' ) blog
    li: a( href: 'http://2010.nodeknockout.com' ) 2010 website

