%h3#date
  .countdown &nbsp;
  .about until coding ends
%p.note
  %a{ href: 'http://twitter.com/node_knockout' } Follow us on Twitter
  for the latest. During the competition, we&rsquo;ll be hanging out virtually
  in
  %a{ href: 'http://webchat.freenode.net/' } #node.js on irc.freenode.net
  and physically at
  != ' <a href="/locations">Knockout HQ</a>.'

%h2.ribbon Recently Deployed

%ul.teams
  - each team in ctx.teams
    %li!= partial('teams/application.html.haml', { locals: { team: team } })

%p
  %a{ href: '/teams' } See all entries

%h2.ribbon What
%p
  Node.js Knockout is a 48-hour coding contest using Node.js inspired by
  != ' <a href="http://railsrumble.com/">Rails Rumble</a>. '
  = ctx.teamCount + ' '
  teams
  %a{ href: '/locations' } around the world
  are competing between August 28 &amp; 29, 2010 UTC.