#page
  %h1 node.js KO

  %h2.ribbon What
  %p
    We
    %span.heart &hearts;
    != ' <a href="http://nodejs.org">node.js</a>. '
    We
    %span.heart &hearts;
    != ' <a href="http://railsrumble.com">Rails Rumble</a>. '
    So we decided to combine the two and got
    != ' <strong>node.js KNOCKOUT &mdash; a 48-hour programming contest using node.js</strong>. '
  %p.center
    %a.button{ href: 'http://twitter.com/node_knockout' } Follow us on Twitter
    %br
    for, like, updates and chicanery

  %h2.ribbon How
  %p
    The contest format will be similar to Rails Rumble:
  %ul
    %li Build any web project you can imagine;
    %li In 48 hours, starting from scratch;
    %li With a team of up to 4;
    %li Using node.js and whatever additional technology you want;
    %li For rounds of judging, and prizes!
  %p
    We expect the contest entries to be quite different from Rails Rumble:
  %p
    %a{ href: 'http://www.nodejs.org' } node.js
    isn't just another MVC web framework.
    It&rsquo;s at the bleeding edge of a technology stack that allows developers
    to blur the lines between software, the web, and the new like never before.
  %p
    Whatever the contest winners are, we suspect
    %a{ href: 'http://githubissues.heroku.com/' } they won&rsquo;t
    %a{ href: 'http://www.lazeroids.com/' } look like
    traditional websites.

  %h2.ribbon When
  %p
    We're rapidly working towards picking the best date.
    %a{ href: 'http://twitter.com/node_knockout' } Follow us on Twitter
    to get notified of the details.

  %h2.ribbon How can I help?
  %p
    For now, spread the word. Start thinking of ideas. Recruit your friends
    for a team. If you're interested in sponsoring, judging, or have other
    crazy ideas, definitely
    != ' <a href="mailto:all@nodeknockout.com">drop us a line</a>.'
  .footer.ribbon
    email
    %a{ href: 'mailto:all@nodeknockout.com' } all@nodeknockout.com
    %span.vr |
    twitter
    %a{ href: 'http://twitter.com/node_knockout' } @node_knockout
    %span.vr |
    code
    %a{ href: 'http://github.com/gerad/nodejs-knockout' } github
    %span.vr |
    by
    %a{ href: 'http://www.fortnightlabs.com/' } fortnight labs
