%h1 Stay Tuned for Winners

%p
  Voting is over. We've got some cleaning to do before we announce the
  winners. Give us about a day.

%h1 Top 10

%ul.teams
  - each team in ctx.teams
    %li!= partial('teams/application.html.haml', { locals: { team: team } })
%p
  != 'Make sure to check out <a href="/teams">the full list</a> and vote!'

%h1 What
%p
  Node.js Knockout is a 48-hour coding contest using
  %a{ href: 'http://nodejs.org' } node.js
  inspired by
  != ' <a href="http://railsrumble.com/">Rails Rumble</a>. '
  = ctx.teamCount + ' '
  teams
  %a{ href: '/locations' } around the world
  wrote code between August 28 &amp; 29, 2010 UTC.
