%h3.ribbon Voting is open!
%p
  Some amazing projects were completed for Node.js Knockout. Voting is in
  progress and will continue until 23:59 UTC (5pm Pacific) on Thursday,
  September 2. Enjoy the entries, and don&rsquo; forget to cast your vote.
%p
  Winners will be announced at the end of the week.
%h2.ribbon What
%p
  Node.js Knockout is a 48-hour coding contest using Node.js inspired by
  != ' <a href="http://railsrumble.com/">Rails Rumble</a>. '
  = ctx.teamCount + ' '
  teams
  %a{ href: '/locations' } around the world
  are competing between August 28 &amp; 29, 2010 UTC.
