#page
  %h1.ribbon node.js KO

  %h2 What
  %p
    We
    %span.heart &hearts;
    != ' <a href="http://nodejs.org">node.js</a>. '
    We
    %span.heart &hearts;
    != ' <a href="http://railsrumble.com">Rails Rumble</a>. '
    So we decided to combine the two and got
    != ' <strong>node.js knockout &mdash; a 48-hour programming contest using node.js</strong>. '
  %p.center
    %a.button{ href: 'http://twitter.com/node_knockout' } Follow us on Twitter
    %br
    for like, updates and chicanery

  %h2 How
  %p
    The format will be very much like Rails Rumble: 48 hours, teams of 4,
    whatever other technology you want, rounds of judging, and prizes! The
    ideas we suspect will not: node.js is very good at bleeding edge things
    which encourages use of other bleeding edge things like say
    %a{ href: 'http://www.mongodb.org' } mongoDB
    and
    != ' <a href="http://code.google.com/p/redis/">Redis</a>.'

  %h2 When
  %p
    We're rapidly working on picking the best date.
    %a{ href: 'http://twitter.com/node_knockout' } Follow us on Twitter
    to get notified of the details.

  .footer.ribbon
    email
    %a{ href: 'mailto:all@nodeknockout.com' } all@nodeknockout.com
    %span.vr |
    twitter
    %a{ href: 'http://twitter.com/node_knockout' } @node_knockout
    %span.vr |
    code
    %a{ href: 'http://github.com/gerad/nodejs-knockout' } github
    %span.vr |
    by
    %a{ href: 'http://www.fortnightlabs.com/' } fortnight labs
