.page#index
  header
    h1
      | node.js
      span.ko ko

  h3
    | node.js knockout is a 48-hour coding contest using
    a( href: 'http://nodejs.org' ) node.js

  h2
    | node.js knockout 2011 will be
    .dates
      time.start( datetime: '2011-08-27T00:00:00Z' ) August 27
      |  &mdash;
      time.end( datetime: '2011-08-29T00:00:00Z' ) August 29, 2011
    #countdown

  .now-what
    | What do I do until then?
    br
    a( href: 'http://nodeknockout.com/' ) See last year's winners,
    | 
    a( href: 'http://twitter.com/node_knockout' ) follow us on Twitter,
    |  or
    a( href: 'http://github.com/nko/website' ) contribute to the world

  footer
    ul
      li: a( href: 'http://twitter.com/node_knockout' ) @node_knockout
      li: a( href: 'mailto:all@nodeknockout.com' ) all@nodeknockout.com
      li: a( href: 'http://blog.nodeknockout.com' ) blog
      li: a( href: 'http://2010.nodeknockout.com' ) 2010 website

.page#about
  header
    h1 about
  :markdown
    | node.js knockout is a 48-hour competition to write node.js apps. it is
    | based heavily on [rails rumble].
    | 
    | concept and design by 734m: [@burnto], [@huned], [@visnup], & [@gerad].
    | it has been set in [04b_03]. no pixels were harmed in the making. peace.
    | 
    | [rails rumble]: http://railsrumble.com
    | [@burnto]: http://twitter.com/burnto
    | [@huned]: http://twitter.com/huned
    | [@visnup]: http://twitter.com/visnup
    | [@gerad]: http://twitter.com/gerad
    | [04b_03]: http://www.04.jp.org
