%h2.ribbon Voting is open
%p
  Some amazing projects were completed for Node.js Knockout.
%p
  Voting is open and will continue until 23:59 UTC (5pm Pacific) on Thursday,
  September 2. Enjoy the entries, and don&rsquo;t forget to cast your vote.
%p
  Winners will be announced at the end of the week.
%h2.ribbon What
%p
  Node.js Knockout is a 48-hour coding contest using
  %a{ href: 'http://nodejs.org' } node.js
  inspired by
  != ' <a href="http://railsrumble.com/">Rails Rumble</a>. '
  = ctx.teamCount + ' '
  teams
  %a{ href: '/locations' } around the world
  wrote code between August 28 &amp; 29, 2010 UTC.
%h2.ribbon Entries
%p
  Here are a few random entries from this weekend. Make sure to check out
  != ' <a href="/entries">the full list</a>.'

%ul.teams
  - each team in ctx.teams
    %li!= partial('teams/application.html.haml', { locals: { team: team, ctx: ctx } })
