%h1 Winners
%p We&rsquo;re excited to announce the winners for the Node.js Knockout.
- each winner in ctx.winners
  %h2= winner[0]
  %ul.teams
    %li!= partial('teams/application.html.haml', { locals: { team: winner[1] } })

%h1 What
%p
  Node.js Knockout is a 48-hour coding contest using
  %a{ href: 'http://nodejs.org' } node.js
  inspired by
  != ' <a href="http://railsrumble.com/">Rails Rumble</a>. '
  = ctx.teamCount + ' '
  teams
  %a{ href: '/locations' } around the world
  wrote code between August 28 &amp; 29, 2010 UTC.
