%h1 Node Knockout
%h2 You, node.js &amp; 48hrs: a shot at glory

.footer
  %a{ href: 'mailto:all@nodeknockout.com' } all@nodeknockout.com
  %a{ href: 'http://www.twitter.com/node_knockout' } @node_knockout
  %a{ href: 'http://github.com/gerad/nodejs-knockout' } github
  %a{ href: 'http://www.fortnightlabs.com/' } fortnight labs
