%h2.ribbon Judging
%p
  We&rsquo;re still going through entries to make sure they're valid. Please
  be patient.

%h2.ribbon What
%p
  Node.js Knockout is a 48-hour coding contest using Node.js inspired by
  != ' <a href="http://railsrumble.com/">Rails Rumble</a>. '
  = ctx.teamCount + ' '
  teams
  %a{ href: '/locations' } around the world
  are competing between August 28 &amp; 29, 2010 UTC.
