%h2.ribbon Judges
%p.description
  Judging will happen in multiple rounds, including a public vote. We&rsquo;re
  still working out the exact details and rounding up more judges for the
  experts round, but were excited with who&rsquo;s pledged their time to help
  so far.
  %a{ href: 'mailto:all@nodeknockout.com' } Contact us
  if you&rsquo;re interested.
%h3
  Isaac Schlueter &mdash;
  %a{ href: 'http://npmjs.org' } npm
%img{ src: '/images/judges/Isaac_Schlueter.jpg' }
%p
  After decades roaming the universe in search of puzzles, Isaac Z. Schlueter
  found his calling, making his home in the Valley of Silicon, and sprinkling
  JavaScript upon the good people of Earth. To this very day, he can be found
  on mailing lists, in IRC rooms, and at JavaScript meetups, sharing
  experience, indulging curiosity, and rethinking convention.  He wrote npm,
  and has 2 cats.
%h3
  Kyle Cordes &mdash;
  %a{ href: 'http://oasisdigital.com' } Oasis Digital
%img{ src: '/images/judges/Kyle_Cordes.jpg' }
%p
  Kyle Cordes is a software development professional and entrepreneur with
  experience in a diverse set of technologies. His firm Oasis Digital keeps
  busy with challenging software projects to help customers build a competitive
  advantage in their markets. Kyle was also a principal in Mobile Workforce
  Management LLC, a vertical market “Software as a Service” business, which he
  sold in 2009.
%h3
  Eliot Horowitz &mdash;
  %a{ href: 'http://www.10gen.com' } 10gen
%img{ src: '/images/judges/Eliot_Horowitz.jpg' }
%p
  Eliot is CTO of 10gen, the company that sponsors the open source MongoDB
  project. Eliot is one of the core MongoDB kernel committers. Eliot is also
  the co-founder and chief scientist of ShopWiki. In January 2005, he began
  developing the crawling and data extraction algorithm that is the core of
  ShopWiki's innovative technology. Eliot has quickly become one of Silicon
  Alley's up and coming entrepreneurs, having been selected as one of
  BusinessWeek's Top 25 Entrepreneurs Under Age 25 in 2006. Prior to ShopWiki,
  Eliot was a software developer in the R&D group at DoubleClick. Eliot
  received a B.S. in Computer Science from Brown University.
%h3
  Matt Ranney &mdash;
  %a{ href: 'http://rebelvox.com' } RebelVox
%img{ src: '/images/judges/Matt_Ranney.jpg' }
%p
  Matt has been working as a network and software engineer for over 15 years.
  Turn ons include: jitter buffers, JavaScript, and jumbo frames.  Turn offs
  include: latency, rigid type systems, and blocking system calls.  Matt is  VP
  of Technology at RebelVox in San Francisco.
%h3
  David Kaneda &mdash;
  %a{ href: 'http://jqtouch.com' } jQTouch
%img{ src: '/images/judges/David_Kaneda.jpg' }
%p
  Creator of jQTouch. Creative director at Sencha and Rock Band superstar.
