!!! 5
%html{ lang: 'en' }
  %head
    %title node.js knockout
    %meta{ charset: 'utf-8' }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/application.css' }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16773586-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #content
      #page
        %header
          %h1{ title: 'Node.js Knockout' } Node.js Knockout
        %nav.ribbon.blue
          %ul
            %li
              %a{ href: '/' } Home
              %span.vr |
            %li
              %a{ href: 'faq' } FAQ
              %span.vr |
            %li
              %a{ href: 'sponsors' } Sponsors
        != body
        %footer.ribbon.blue
          email
          %a{ href: 'mailto:all@nodeknockout.com' } all@nodeknockout.com
          %span.vr |
          twitter
          %a{ href: 'http://twitter.com/node_knockout' } @node_knockout
          %span.vr |
          code
          %a{ href: 'http://github.com/gerad/nodejs-knockout' } github
          %span.vr |
          by
          %a{ href: 'http://www.fortnightlabs.com/' } fortnight labs
          - if (this.currentPerson)
            %span.vr |
            you
            %a{ href: '/logout' }= this.currentPerson.name
      %aside#sponsors
        %h2.ribbon
          .container Sponsors
        %p
          %a{ href: 'http://github.com' }
            %img{ src: '/images/sponsors/github.png' }
        %p
          %a{ href: 'http://heroku.com' }
            %img{ src: '/images/sponsors/heroku.png' }
        %p
          %a{ href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout' }
            %img{ src: '/images/sponsors/joyent.png' }
        %p#mongodb
          %a{ href: 'http://www.mongodb.org' }
            %img{ src: '/images/sponsors/mongodb.png' }
        %p
          %a{ href: 'mailto:all@nodeknockout.com' } Interested in sponsoring?
    %script{ src: 'http://code.jquery.com/jquery.min.js', type: 'text/javascript' }
    %script{ src: '/javascripts/underscore.min.js', type: 'text/javascript' }
    %script{ src: '/javascripts/strftime.js', type: 'text/javascript' }
    %script{ src: '/javascripts/pretty_date.js', type: 'text/javascript' }
    %script{ src: '/application.js', type: 'text/javascript' }
    %script{ src: 'http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4c1890294bf8b85c', type: 'text/javascript' }
    :javascript
      var
        addthis_desc = "Just registered for http://nodeknockout.com/. 48hrs, node.js, prizes and glory. It's on!",
        addthis_config = { ui_click: true },
        addthis_share = {
          url: 'http://www.nodeknockout.com',
          title: 'Node.js Knockout',
          templates: { twitter: addthis_desc },
          description: addthis_desc
        };
      
      $(function() {
        $('a').mousedown(function() {
          var href = this.href;
          try {
            if (/^https?:/.test(href)) _gaq.push(['_trackPageview', href]);
          } catch(e) {}
        });
      });
