!!! 5
%html{ lang: 'en' }
  %head
    %title node.js knockout
    %meta{ charset: 'utf-8' }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/application.css' }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16773586-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    <!--[if lt IE 9]>
      %script{ src: "http://html5shiv.googlecode.com/svn/trunk/html5.js" }
      %link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/ie.css' }
    <![endif]-->
  %body
    #content
      #page
        %header
          %h1#logo{ title: 'Node.js Knockout' }
            %a{ href: '/' } Node.js Knockout
        %nav
          %ul
            %li
              %a{ href: '/rules' } Rules
              %span.vr |
            %li
              %a{ href: '/judging' } Judges
              %span.vr |
            %li
              %a{ href: '/faq' } FAQ
              %span.vr |
            %li
              %a{ href: '/teams' } Teams
              %span.vr |
            %li
              %a{ href: '/sponsors' } Sponsors
              %span.vr |
            %li
              %a{ href: 'http://nodeknockout.posterous.com/' } Blog
          %a.twitter{ href: 'http://twitter.com/node_knockout' }
            .say!= 'Follow us<br/> on Twitter!'
            %img{ src: '/images/bird.png' }
        .body{ 'class': 'body ' + view }!= body
        %footer.ribbon.blue
          email
          %a{ href: 'mailto:all@nodeknockout.com' } all@nodeknockout.com
          %span.vr |
          twitter
          %a{ href: 'http://twitter.com/node_knockout' } @node_knockout
          %span.vr |
          code
          %a{ href: 'http://github.com/gerad/nodejs-knockout' } github
          %span.vr |
          by
          %a{ href: 'http://www.fortnightlabs.com/' } fortnight labs
      %aside#pullout
        #current_person
          - if (!ctx.currentPerson)
            %a{ href: '/login?return_to=' + ctx.req.url } Sign in
            %span.vr |
            %a{ href: '/teams/new' } Register
          - if (ctx.currentPerson)
            %a{ href: 'http://gravatar.com' }
              %img{ src: 'http://www.gravatar.com/avatar/' + ctx.currentPerson.emailHash + '?s=40&d=monsterid' }
            .info
              %a{ href: '/people/' + ctx.currentPerson.id() + '/edit' }= ctx.currentPerson.name || ctx.currentPerson.email
              %br
              %a{ href: '/logout' } Sign out
        #sponsors
          %p.joyent
            %a{ href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout' }
              %img{ src: '/images/sponsors/joyent.png' }
          %p.heroku
            %a{ href: 'http://heroku.com' }
              %img{ src: '/images/sponsors/heroku.png' }
          %p.github
            %a{ href: 'http://github.com' }
              %img{ src: '/images/sponsors/github.png' }
          %p.sencha
            %a{ href: 'http://www.sencha.com' }
              %img{ src: '/images/sponsors/sencha.png' }
          %p.medium
            %a{ href: 'http://www.thisismedium.com' }
              %img{ src: '/images/sponsors/medium.png' }
          %p.oasis_digital
            %a{ href: 'http://oasisdigital.com' }
              %img{ src: '/images/sponsors/oasis_digital.png' }
          %p.envato
            %a{ href: 'http://envato.com' }
              %img{ src: '/images/sponsors/envato.png' }
          %p.couchdb
            %a{ href: 'http://www.couch.io' }
              %img{ src: '/images/sponsors/couchdb.png' }
          %p.thoughtbot
            %a{ href: 'http://thoughtbot.com' }
              %img{ src: '/images/sponsors/thoughtbot.png' }
          %p.mongodb
            %a{ href: 'http://www.mongodb.org' }
              %img{ src: '/images/sponsors/mongodb.png' }
          %p.mongohq
            %a{ href: 'http://mongohq.com' }
              %img{ src: '/images/sponsors/mongohq.png' }
          %p.braintree
            %a{ href: 'http://www.braintreepaymentsolutions.com' }
              %img{ src: '/images/sponsors/braintree.png' }
          %p.jsconf
            %a{ href: 'http://jsconf.us' }
              %img{ src: '/images/sponsors/jsconf.png' }
          %p.redis_to_go
            %a{ href: 'http://www.redistogo.com' }
              %img{ src: '/images/sponsors/redis_to_go.png' }
          %p.upload_juicer
            %a{ href: 'http://www.uploadjuicer.com' }
              %img{ src: '/images/sponsors/upload_juicer.png' }
          %p.npm
            %a{ href: 'http://npmjs.org' }
              %img{ src: '/images/sponsors/npm.png' }
          %p
            %a{ href: 'mailto:all@nodeknockout.com' } Interested in sponsoring?
    %script{ src: '/javascripts/jquery-1.4.2.min.js', type: 'text/javascript' }
    %script{ src: '/javascripts/underscore.min.js', type: 'text/javascript' }
    %script{ src: '/javascripts/strftime.js', type: 'text/javascript' }
    %script{ src: '/javascripts/pretty_date.js', type: 'text/javascript' }
    %script{ src: '/application.js', type: 'text/javascript' }
    :javascript
      $(function() {
        $('a').mousedown(function() {
          var href = this.href;
          try {
            if (/^https?:/.test(href)) _gaq.push(['_trackPageview', href]);
          } catch(e) {}
        });
      });
