!!! 5
html
  head
    meta( charset: 'utf-8' )
    meta( http-equiv: 'X-UA-Compatible', content: 'IE=edge,chrome=1' )
    meta( name: 'viewport', content: 'width=800,initial-scale=1' )
    title node.js knockout
    link( rel: 'stylesheet', href: '/stylesheets/application.css' )
    script _gaq = [['_setAccount', 'UA-16773586-1'], ['_trackPageview']];
    script( async: true, src: "//www.google-analytics.com/ga.js" )
  body
    != body
    - if (this.development)
      script( src: '/javascripts/jquery-1.5.1.js' )
    - else
      script( src: '//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' )
    script
      window.JSON || document.write("<script src='/javascripts/json2.js'>\\x3C/script>"); // include json2.js if needed
    - each s in [ 'modernizr-1.7.min', 'socket.io.min', 'jquery.transform.light', 'jquery.border-image', 'jquery.keylisten.min', 'application' ]
      script( src: '/javascripts/' + s + '.js' )
    script
      $('a').live('mousedown', function() {
        var href = this.href;
        try {
          if (/^https?:/.test(href)) { _gaq.push([ '_trackPageview', href ]); }
        } catch(e) {}
      });
