!!! 5
html
  head
    meta( charset: 'utf-8' )
    meta( http-equiv: 'X-UA-Compatible', content: 'IE=edge,chrome=1' )
    meta( name: 'viewport', content: 'width=800,initial-scale=1' )
    title node.js knockout
    link( rel: 'stylesheet', href: '/stylesheets/application.css' )
  body
    != body
    script( type: 'text/javascript', src: '//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' )
    - each s in [ 'jquery.transform.light', 'jquery.keylisten.min', 'application' ]
      script( type: 'text/javascript', src: '/javascripts/' + s + '.js' )
