%h2.ribbon Locations
%p.description
  Contestants may compete &lsquo;virtually&rsquo; from anywhere in the world, but
  %a{ href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout' } Joyent
  will be hosting
  %a{ href: "http://nodeknockout.posterous.com/get-ready-for-the-nodejs-knockout-at-joyents"} Knockout HQ
  in San Francisco.
%h3 San Francisco
%p.description
  %a{ href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout' } Joyent
  will be providing food and drinks for participants. You&rsquo;ll
  get to meet Ryan Dahl (the creator of node.js) and the rest of the Knockout
  organizers.
%p.description
  Please
  != ' <a href="/register">register in advance</a> '
  if you&rsquo;re interested in attending.
%p#map
  .iframe
    != '<iframe width=560" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=345+California+St,+San+Francisco,+CA(Knockout+HQ+@+Joyent)&output=embed"></iframe>'

%h2.ribbon Other Locations
%p.description
  Not in San Francisco? No problem! Several groups have offered to host
  satellite locations.
%p.description
  Interested in hosting your own Node.js Knockout event?
  != ' <a href="mailto:all@nodeknockout.com">Let us know</a>.'

%h3 Boston
%p#bocoup
  %img{ src: 'http://maps.google.com/maps/api/staticmap?center=319+A+Street,+Boston+MA&size=180x140&sensor=false&zoom=14&markers=size:small|319+A+Street,+Boston+MA' }.map
  %a{ href: 'http://bocoup.com' } Bocoup, LLC
  %br
  319 A Street
  %br
  Boston, MA 02210
  %br
  %a{ href: 'http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=bocoup&sll=37.0625,-95.677068&sspn=38.911557,79.013672&ie=UTF8&hq=bocoup&hnear=&ll=42.348268,-71.045408&spn=0.035523,0.077162&z=14' } View map
%p
  Email
  %a{ href: "mailto:admin@bocoup.com?subject=Node.js Knockout - Boston" } admin@bocoup.com
  to reserve a spot.
.clear

%h3 Dresden
%p#c3d2
  %img{ src: 'http://maps.google.com/maps/api/staticmap?center=51.047059,13.747588&size=180x140&sensor=false&zoom=14&markers=size:small|Lingnerallee+3,01069+Dresden' }.map
  %a{ href: 'http://www.c3d2.de' } C3D2 HQ
  %br
  Lingnerallee 3
  %br
  01069 Dresden
  %br
  %a{ href: 'http://maps.google.com/maps?q=Lingnerallee+3,+01069+Dresden' } View map
%p
  We&rsquo;re 5 coders/2 teams and got some space for another team. Email
  != ' <a href="mailto:astro@spaceboyz.net?subject=Node.js Knockout - Dresden">astro@spaceboyz.net</a>.'
.clear

%h3 New York
%p#tipping_point
  %img{ src: 'http://maps.google.com/maps/api/staticmap?center=86+Chambers+Street,+New+York,+NY&size=180x140&sensor=false&zoom=14&markers=size:small|86+Chambers+Street,+New+York,+NY' }.map
  %a{ href: 'http://www.tippingpointpartners.com/' } Tipping Point Partners
  %br
  86 Chambers Street, Suite 704
  %br
  New York, NY 10007
  %br
  %a{ href: 'http://maps.google.com/maps?q=86+Chambers+Street,+New+York,+NY' } View map
%p
  Email
  %a{ href: "mailto:admin@bocoup.com?subject=Node.js Knockout - New York" } info@nodejitsu.com
  to reserve a spot.
.clear

%h3 Paris
%p#af83
  %img{ src: 'http://maps.google.com/maps/api/staticmap?center=15+Rue+Poissonniere,+75002+Paris,+France&size=180x140&sensor=false&zoom=14&markers=size:small|15+Rue+Poissonniere,+75002+Paris,+France' }.map
  %a{ href: 'http://www.af83.com/' } AF83
  %br
  15 Rue Poissonnière
  %br
  75002 Paris, France
  %br
  %a{ href: 'http://maps.google.com/maps?q=15+Rue+Poissonniere,+75002+Paris,+France' } View map
%p
  Email
  %a{ href: "mailto:pruyssen@af83.com?subject=Node.js Knockout - Paris" } pruyssen@af83.com
  to reserve a spot.
.clear