%h2.ribbon Locations
%p.description
  Contestants may participate from anywhere in the world, but
  %a{ href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout' } Joyent
  will be hosting
  != ' <a href="http://nodeknockout.posterous.com/knockout-hq">Knockout HQ</a>.'
%p.description
  %a{ href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout' } Joyent
  will be providing food and drinks for participants. You&rsquo;ll
  get to meet Ryan Dahl (the creator of node.js) and the rest of the Knockout
  organizers.
%p.description
  Please
  != ' <a href="/register">register in advance</a> '
  if you&rsquo;re interested in attending.
%p#map
  .iframe
    != '<iframe width=560" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=345+California+St,+San+Francisco,+CA(Knockout+HQ+@+Joyent)&output=embed"></iframe>'
%h3 Other Locations
%p.description
  Not in San Francisco? Interested in participating in person,
  or hosting your own Node.js Knockout event?
  != ' <a href="mailto:all@nodeknockout.com">Let us know</a>.'
