%h1 Sign in

!= this.partial('errors.html.haml')

%form{ method: 'POST', action: 'login' }
  %input{ type: 'hidden', name: 'return_to', value: this.param('return_to') }
  %p
    %label{ for: 'email' } Email
    %br
    %input{ type: 'email', name: 'email', id: 'email', value: this.person.email }
  %p
    %label{ for: 'password' } Password
    %br
    %input{ type: 'password', name: 'password', id: 'password' }
  %p
    %input{ type: 'checkbox', name: 'remember', id: 'remember' }
    %label{ for: 'remember' } stay logged in
  %p
    %input.button{ type: 'submit', value: 'Sign in' }