h1 Prizes

h2 Overall Winner
.note Team with the best overall score.
ul
  li
    a(href: 'http://robots.thoughtbot.com/post/816267526/rock-em-sock-em-robots') NKO-branded boxing gloves
    &nbsp;&mdash;
    a(href: 'http://thoughtbot.com') ThoughtBot
  li
    a( href: 'http://www.apple.com/ipad/' ) 16 GB iPad with WiFi
    &nbsp;\(one per team member\) &mdash;
    a( href: 'http://www.thisismedium.com' ) Medium
  li
    a( href: 'http://www.palm.com/us/products/phones/pre/' ) Palm Pre+
    &nbsp;\(one per team member,
    a( href: 'http://developer.palm.com/index.php?option=com_content&view=article&id=2051' ) unactivated
    \) &mdash;
    a( href: 'http://developer.palm.com' ) Palm
  li $500 in free cloud hosting to each team member &mdash;&nbsp;
    a(href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout') Joyent
  li $300 service credit with Heroku &mdash;&nbsp;
    a(href: 'http://heroku.com') Heroku
  li Mongo HQ six month subscription, large plan &mdash;&nbsp;
    a( href: 'http://mongohq.com' ) MongoHQ

h2 Solo Winner
.note One-person team with the best overall score.
ul
  li
    a( href: 'http://www.apple.com/ipad/' ) 16 GB iPad with WiFi
    &nbsp;&mdash;
    a( href: 'http://www.fortnightlabs.com' ) Fortnight Labs
  li
    a( href: 'http://www.palm.com/us/products/phones/pre/' ) Palm Pre+
    != ' (<a href="http://developer.palm.com/index.php?option=com_content&view=article&id=2051">unactivated</a>)'
    &nbsp;&mdash;
    a( href: 'http://developer.palm.com' ) Palm
  li $500 in free cloud hosting &mdash;&nbsp;
    a(href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout') Joyent
  li Heroku Trading Card Set, redeemable for discounts on add-ons &mdash;&nbsp;
    a(href: 'http://heroku.com') Heroku
  li Mongo HQ six month subscription, large plan &mdash;&nbsp;
    a( href: 'http://mongohq.com' ) MongoHQ

h2 Usefulness
.note Team with the highest usefulness score.
ul
  li Ticket to JS Conf 2011 \(one per team member\) &mdash;&nbsp;
    a( href: 'http://jsconf.us' ) JSConf
  li
    a( href: 'http://www.apple.com/magictrackpad/' ) Apple Magic Trackpad
    &nbsp;\(one per team member\) &mdash;
    a( href: 'http://oasisdigital.com' ) Oasis Digital
  li
    a( href: 'http://www.palm.com/us/products/phones/pre/' ) Palm Pre+
    &nbsp;\(one per team member,
    a( href: 'http://developer.palm.com/index.php?option=com_content&view=article&id=2051' ) unactivated
    \) &mdash;
    a( href: 'http://developer.palm.com' ) Palm
  li $500 in free cloud hosting to each team member &mdash;&nbsp;
    a(href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout') Joyent
  li Heroku Trading Card Set, redeemable for discounts on add-ons &mdash;&nbsp;
    a(href: 'http://heroku.com') Heroku
  li Mongo HQ six month subscription, large plan &mdash;&nbsp;
    a( href: 'http://mongohq.com' ) MongoHQ
  li
    | MongoDB swag package: limited edition Timbuk2 laptop bag, t-shirt,
    | coffee mug, and stickers
    &mdash;
    a( href: 'http://www.mongodb.org' ) MongoDB

h2 Design
.note Team with the highest design score.
ul
  li
    a( href: 'http://www.adobe.com/products/fireworks/' ) Adobe Fireworks CS5
    &nbsp;\(one per team member\) &mdash;
    a( href: 'http://developer.yahoo.com' ) Yahoo
  li
    a( href: 'http://www.wdc.com/en/products/products.asp?driveid=728' ) 1 TB Western Digital external hard drive
    &nbsp;\(one per team member\) &mdash;
    a( href: 'http://oasisdigital.com' ) Oasis Digital
  li
    a( href: 'http://www.palm.com/us/products/phones/pre/' ) Palm Pre+
    &nbsp;\(one per team member,
    a( href: 'http://developer.palm.com/index.php?option=com_content&view=article&id=2051' ) unactivated
    \) &mdash;
    a( href: 'http://developer.palm.com' ) Palm
  li $500 in free cloud hosting to each team member &mdash;&nbsp;
    a(href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout') Joyent
  li Heroku Trading Card Set, redeemable for discounts on add-ons &mdash;&nbsp;
    a(href: 'http://heroku.com') Heroku
  li Mongo HQ six month subscription, large plan &mdash;&nbsp;
    a( href: 'http://mongohq.com' ) MongoHQ

h2 Innovation
.note Team with the highest innovation score.
ul
  li
    a( href: 'http://www.apple.com/iphone/' ) 16 GB iPhone 4
    &nbsp;\(one per team member, unlocked\) &mdash;
    a( href: 'http://www.sencha.com' ) Sencha
  li
    a( href: 'http://www.palm.com/us/products/phones/pre/' ) Palm Pre+
    &nbsp;\(one per team member,
    a( href: 'http://developer.palm.com/index.php?option=com_content&view=article&id=2051' ) unactivated
    \) &mdash;
    a( href: 'http://developer.palm.com' ) Palm
  li $500 in free cloud hosting to each team member &mdash;&nbsp;
    a(href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout') Joyent
  li Heroku Trading Card Set, redeemable for discounts on add-ons &mdash;&nbsp;
    a(href: 'http://heroku.com') Heroku
  li Mongo HQ six month subscription, large plan &mdash;&nbsp;
    a( href: 'http://mongohq.com' ) MongoHQ

h2 Completeness
.note Team with the highest completeness score.
ul
  li
    a( href: 'http://www.skullcandy.com/aviator/' ) Skullcandy ROCNATION aviator headphones
    &nbsp;\(one per team member\) &mdash;
    a( href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout' ) Joyent
  li
    | Free setup on Braintree's payment gateway and three months of credit
    | card processing services with all monthly fees waived
    &nbsp;\(one per team member\) &mdash;
    a( href: 'http://www.braintreepaymentsolutions.com' ) Braintree
  li
    a( href: 'http://www.palm.com/us/products/phones/pre/' ) Palm Pre+
    &nbsp;\(one per team member,
    a( href: 'http://developer.palm.com/index.php?option=com_content&view=article&id=2051' ) unactivated
    \) &mdash;
    a( href: 'http://developer.palm.com' ) Palm
  li $500 in free cloud hosting to each team member &mdash;&nbsp;
    a(href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout') Joyent
  li Heroku Trading Card Set, redeemable for discounts on add-ons &mdash;&nbsp;
    a(href: 'http://heroku.com') Heroku
  li Mongo HQ six month subscription, large plan &mdash;&nbsp;
    a( href: 'http://mongohq.com' ) MongoHQ

h2 Popularity
.note Team with the most votes.
ul
  li
    a( href: 'http://www.timbuk2.com/tb2/products/laptop/blogger2.0' ) Timbuk2 Blogger 2.0 Messenger
    &nbsp;\(one per team member\) &mdash;
    a( href: 'http://google.com' ) Google
  li
    a( href: 'http://us.battle.net/sc2/en/' ) Starcraft II
    &nbsp;\(one per team member\) &mdash;
    a( href: 'http://envato.com' ) Envato
  li
    a( href: 'http://www.palm.com/us/products/phones/pre/' ) Palm Pre+
    &nbsp;\(one per team member,
    a( href: 'http://developer.palm.com/index.php?option=com_content&view=article&id=2051' ) unactivated
    \) &mdash;
    a( href: 'http://developer.palm.com' ) Palm
  li $500 in free cloud hosting to each team member &mdash;&nbsp;
    a(href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout') Joyent
  li Heroku Trading Card Set, redeemable for discounts on add-ons &mdash;&nbsp;
    a(href: 'http://heroku.com') Heroku
  li Mongo HQ six month subscription, large plan &mdash;&nbsp;
    a( href: 'http://mongohq.com' ) MongoHQ
