%h1 Prizes

%h2 Overall
%p Team with the best overall score.
%ul
  %li Joyent Smart Machine
  %li $300 Heroku credit
  %li iPads (x4) from Medium

%h2 Solo
%p One-person team with the best overall score.
%ul
  %li Joyent Smart Machine
  %li iPhone 4 from Sencha

%h2 Innovation
%ul
  %li iPhone 4s (x2) from Sencha

%h2 Completeness
%ul
  %li Joyent Smart Machine

%h2 Usefulness
%ul
  %li Joyent Smart Machine

%h2 Design
%ul
  %li Joyent Smart Machine

%h2 Popularity
%p Team with the most votes.
%ul
  %li Joyent Smart Machine
