%h1 Forgot your password?

!= partial('errors.html.haml', { locals: { ctx: ctx } })

%form.reset_password{ method: 'POST', action: 'reset_password' }
  %p
    %label{ for: 'email' } Email
    %br
    %input{ type: 'email', name: 'email', placeholder: 'email@address.com' }
  %p
    %input.button{ type: 'submit', value: 'Reset password' }