%h2.ribbon &lsquo;Ze Rules
%p
  different concerns: non-web fringe browsers

%h3 Node.js
%p
  All applications must be built using node.js. No substitutes! (Are there
  substitutes?) This isn't to say you can't use additional technology to
  supplement node.js, like Amazon S3 or MongoDB or a biofuel-powered lawnmower
  running off of leftover Thai food. Thai food is tasty.

%h3 48 Hours
%p
  You've got exactly 48 hours to develop your web app during the Knockout, not
  a minute more. The competition kicks off at 12:00am / 00:00 GMT on August 28,
  2009 and will end at 12:00am / 00:00 GMT on August 30, 2009. Of course, feel
  free to work on the concept for your application before the competition
  starts: pretty hand-drawn pictures on napkins, angry email threads between
  team members on two-space or four-space indentation, schema designs, finite
  state machines. Just no digital assets including graphic design assets, code,
  etc.
%p
  After those 48 hours are up, an expert panel and a jury of your peers will be
  invited to use your application and judge it against the competition. No
  additional features or bugfixes are allowed during this period, or you will
  be disqualified. Don't make us disqualify you; it will make us sad.

%h3 Teams and Contestants
%p
  Teams should be comprised of between one and four individuals. No more than
  four people are allowed on a team. To be eligible, teams must register at
  least 1 week prior to the start of the competition (space subject to
  availability). No age restrictions and we won't make fun of you if you're
  left-handed (HAHA! UR LEFT-HANDED! LOLZ). Also, don't worry if you work for a
  sponsor: they won't be able to influence the judging process. Moreover,
  don't worry if you know a judge either: we'll prevent judges from voting on a
  team they know personally and they've committed to stay impartial.

%h3 Source Control

%h3 Deployment

%h3 Third Party Love

%h3 Web Services

%h3 Ownership and Open Source

%h3 Judging

%h3 Participation
%h3 Miscellany
%h3 Rules of the web
