%h2.ribbon &lsquo;Ze Rules
%p
  different concerns: non-web fringe browsers

%h3 Node.js
%p
  All applications must be built using node.js. No substitutes! (Are there
  substitutes?) This isn't to say you can't use additional technology to
  supplement node.js, like Amazon S3 or MongoDB or a biofuel-powered lawnmower
  running off of leftover Thai food. Thai food is tasty.

%h3 48 Hours
%p
  You've got exactly 48 hours to develop your web app during the Knockout, not
  a minute more. The competition kicks off at 12:00am / 00:00 GMT on August 28,
  2009 and will end at 12:00am / 00:00 GMT on August 30, 2009. Of course, feel
  free to work on the concept for your application before the competition
  starts: pretty hand-drawn pictures on napkins, angry email threads between
  team members on two-space or four-space indentation, schema designs, finite
  state machines. Just no digital assets including graphic design assets, code,
  etc.
%p
  After those 48 hours are up, an expert panel and a jury of your peers will be
  invited to use your application and judge it against the competition. No
  additional features or bugfixes are allowed during this period, or you will
  be disqualified. Don't make us disqualify you; it will make us sad.

%h3 Teams and Contestants
%p
  Teams should be comprised of between one and four individuals. No more than
  four people are allowed on a team. To be eligible, teams must register at
  least 1 week prior to the start of the competition (space subject to
  availability). No age restrictions and we won't make fun of you if you're
  left-handed (HAHA! UR LEFT-HANDED! LOLZ). Also, don't worry if you work for a
  sponsor: they won't be able to influence the judging process. Moreover,
  don't worry if you know a judge either: we'll prevent judges from voting on a
  team they know personally and they've committed to stay impartial.

%h3 Source Control
  free git repo hosted by github. you should push regularly to show progress.
  we'll watch to make sure people don't cheat (don't think you can develop
  everything ahead of time and push it all in at the end). we'll send access
  info before the competition starts. more details at the end of competition.

%h3 Deployment
  free, private vps provided by sponsors. joyent vs. heroku. joyent: need to setup yourself (solaris). heroku: easier. early access to play? access info will be given with github info. will remain up until winners are announced. during the judging, we need ssh access via keys to make sure there is no cheating, including comparing deployed code with git repo. you can restart processes, free up disk space, general sysadmin stuff, but code changes are forbidden.

%h3 Third Party Love
  libraries (that are public, free) are allowed and encouraged. list all libraries that you use on your profile page? stock photos, free icon sets are allowed. paying for something that is not generally available to everyone is bad. developing a library before the competition that provides the general functionality of your project is bad. developing a library that is publicly available and provides a general purpose publicly usable function can be done before the competition begins.

%h3 Web Services
  we encourage use of third party web service apis like twitter, flickr, google, yahoo pipes. mashups are cool. make sure to update your profile with what you use.

%h3 Ownership and Open Source
  the code is yours. it'd be cool if you open sourced it, but it's up to you. note: we will have access to your code during the competition to audit for cheating, but we won't steal anything.

%h3 Judging
  judging will be split between experts and the public. please refer to the judging page for full details.

%h3 Miscellany
  non-web
  require browsers
  anything else goes, but be mindful of your audience and how they will judge; like all good products.
  don't break laws.
