%h2.ribbon Sponsors

%h3
  %a{ href: 'http://www.braintreepaymentsolutions.com' } Braintree
%p
  Braintree helps online businesses process credit card payments by providing a
  merchant account, payment gateway, recurring billing and credit card storage.

%h3
  %a{ href: 'http://www.couch.io' } CouchDB
%p
  Apache CouchDB is a document-oriented database that can be queried and
  indexed in a MapReduce fashion using JavaScript. CouchDB also offers
  incremental replication with bi-directional conflict detection and
  resolution.

%h3
  %a{ href: 'http://github.com' } GitHub
%p
  Fork projects, send pull requests, create issues, and monitor development
  with all of your public and private code.

%h3
  %a{ href: 'http://heroku.com' } Heroku
%p
  Fast, frictionless, and maintenance free.
  Deploy and scale with confidence.

%h3
  %a{ href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout' } Joyent
%p
  Joyent's integrated stack of enterprise-class Smart Technologies improves
  application performance, solves capacity problems and reduces costs for
  business-critical applications.

%h3
  %a{ href: 'http://jsconf.us' } JSConf
%p
  JSConf focuses on two things, presenting mind-altering JavaScript technology
  during the daytime and providing exceptional &ldquo;networking&rdquo; parties
  during the evenings. JavaScript is exploding on the scene despite years of
  being behind the curtain as the workhorse of the web. JSConf is right there
  to expose and help push the state of the art with JavaScript in the browser,
  server, mobile, and desktop environments. One of the key differentiators
  about JSConf is that its put on by a (crazy) group of JavaScript developers
  just like you, so we ensure that everything that matters is taken care --
  read in always available wifi and readily accessible power.

%h3
  %a{ href: 'http://www.thisismedium.com' } Medium
%p
  Medium is a digital design &amp; development agency that creates useful
  products, projects and communication tools.

%h3
  %a{ href: 'http://www.mongodb.org' } MongoDB
%p
  MongoDB bridges the gap between key-value stores (which are fast and highly
  scalable) and traditional RDBMS systems (which provide rich queries and deep
  functionality).

%h3
  %a{ href: 'http://mongohq.com' } MongoHQ
%p
  MongoHQ is the hosted database solution for easily getting your apps up and
  running with MongoDB. Fast.

%h3
  %a{ href: 'http://npmjs.org' } npm
%p
  npm is a node package manager. It makes it easy to install, distribute, and
  publish your node programs, as well as pull in dependencies.

%h3
  %a{ href: 'http://oasisdigital.com' } Oasis Digital
%p
  Custom software for our clients - not with Node (yet), but anything can
  happen!

%h3
  %a{ href: 'http://www.redistogo.com' } Redis To Go
%p
  Redis To Go is a dead simple solution for managed Redis instaces.

%h3
  %a{ href: 'http://www.sencha.com' } Sencha
%p
  Sencha Touch allows your web apps to look and feel like native apps.
  Beautiful user interface components and rich data management, all powered by
  the latest HTML5 and CSS3 web standards and ready for Android and Apple iOS
  devices. Keep them web-based or wrap them for distribution on mobile app
  stores.

%h3
  %a{ href: 'http://thoughtbot.com' } thoughtbot
%p
  thoughtbot provides development and design services for modern web
  applications - with a focus on embracing good ideas and delivering elegant
  solutions.

%h3
  %a{ href: 'http://www.uploadjuicer.com' } uploadJuicer
%p
  Image processing in the clouds. Juicer handles all of the image processing
  tasks your application requires.
