%h2.ribbon Sponsors
%h3 GitHub
%p
  Fork projects, send pull requests, create issues, and monitor development
  with all of your public and private code.
%h3 Heroku
%p
  Fast, frictionless, and maintenance free.
  Deploy and scale with confidence.
%h3 Joyent
%p
  Joyent's integrated stack of enterprise-class Smart Technologies improves
  application performance, solves capacity problems and reduces costs for
  business-critical applications.
%h3 MongoDB
%p
  MongoDB bridges the gap between key-value stores (which are fast and highly
  scalable) and traditional RDBMS systems (which provide rich queries and deep
  functionality).
