.application{ 'data-overall': team.score.overall / 5, 'data-utility': team.score.final.utility, 'data-design': team.score.final.design, 'data-innovation': team.score.final.innovation, 'data-completeness': team.score.final.completeness, 'data-popularity': team.score.final.popularity }
  .screenshot
    %a{ href: team.url }
      %img{ src: team.url ? 'http://pinkyurl.com/i?url=' + encodeURIComponent(team.url + '/#' + team.lastDeployedHead) + '&out-format=png&resize=160x93' : '/images/blank.png' }
    .vote
      %a.button.important{ href: '/teams/' + team.toParam() + '#your_vote' } Vote &raquo;
  .description
    - if (team.score)
      .score
        %a{ href: '/scores#' + team.slug }
          %h2= (team.score.overall / 5).toFixed(2)
          %h6 overall
    %h2
      %a{ href: team.url }= team.application
    %h4
      by
      %a{ href: '/teams/' + team.toParam() }= team.name
      - if (team.members.length == 1)
        (Solo)
    .markdown!= firstParagraph(team.description)
    - if (team.link)
      %a{ href: team.link } More info &raquo;
  .clear
