%h2
  %label{ for: 'name' } Team Name
%input{ type: 'text', placeholder: 'Team Name', name: 'name', id: 'name', value: this.team.name }

%h2 Team Member Emails
.note We don&rsquo;t spam. Teams can have 1-4 people.
%ol
  - for (var i = 1; i < 5; i++)
    %li
      %input{ type: 'email', placeholder: 'member' + i + '@team.com', name: 'emails[]', value: this.team.emails()[i - 1] }
.note Each team member will receive an e-mail with a password.