%h3
  %label{ for: 'name' } Name
.note Name changes have been disabled leading up to the contest.
%input{ type: 'text', placeholder: 'Clever Team Name', name: 'name', id: 'name', value: ctx.team.name, disabled: ctx.isAdmin ? '' : 'disabled' }

%h3
  %label{ for: 'joyent_code' } Coupon Code
.note
  Coupon code for
  != ' <a href="http://no.de/signup">your free Joyent SmartMachine</a>.'
%input{ type: 'text', name: 'joyentCode', id: 'joyent_code', value: ctx.team.joyentCode, disabled: ctx.isAdmin ? '' : 'disabled' }

%h3 Member Emails
.note We don&rsquo;t spam. Teams can have 1-4 people.
%ol#members
  - for (var i = 1; i < 5; i++)
    %li
      %input.email{ type: 'text', placeholder: 'member' + i + '@team.com', name: 'emails[]', value: ctx.team.emails()[i - 1] }
%p Each team member will receive an e-mail with a password.
