h2.ribbon Judges
:markdown
  | Judging will happen in multiple rounds, including a public vote.
  | We’re still working out the exact details and rounding up more judges for
  | the experts round, but are excited with who’re pledged their time to
  | help so far.
  | 
  | Interested in judging? [Contact us](mailto:all@nodeknockout.com).

- each judge in ctx.judges
  - if (judge.description)
    .judge
      h3( id: judge.name.toLowerCase().replace(/\W+/g, '_') )
        = judge.name
        - if (judge.signature)
          |  &mdash;
          != judge.signature
        - if (ctx.currentPerson && ctx.currentPerson.admin())
          | 
          a( href: '/people/' + judge.id() + '/edit' ) Edit
      img( src: '/images/judges/' + judge.name.replace(/\W+/g, '_') + '.jpg' )
      != judge.description
