h2#scoring.ribbon Judging & Scoring
:markdown
  | We spent a lot of time thinking about how to keep Node.js Knockout judging
  | fun, fair, and exciting.  Here's how it’s going to work:
  | 
  | ### Voting
  | 
  | There will be two groups of voters: **expert judges** and the **general
  | public**.
  | 
  | All voting will take place at the same time: between 03:00 GMT on Monday,
  | August 30 and 0:00 GMT on Friday, September 3.
  | 
  | ### Expert Voting
  | 
  | We have an [amazing and diverse panel of expert judges](#judges) who are
  | volunteering their time to provide thoughtful feedback on your weekend’s
  | work.
  | 
  | Each expert judge will be asked to review an initial batch of 5-10 entries.
  | After they do their initial batch, judges will also be encouraged to review
  | a handful more of the top entries that pique their interest.  Experts will
  | not be allowed to vote for people who they know.
  | 
  | In order to ensure all expert judges are [anchoring] similarly, they will
  | be asked to [grade along a curve] with a mean of 3.5.
  | 
  | The hope is that this will allow every entry to get at least 2-3 thoughtful
  | expert reviews, and that the best entries will get enough reviews that the
  | [law of large numbers] ensures fairness.
  | 
  | A number of you have noted that we have a large number of expert judges.
  | The reason for this is simply a matter of math: if we want to each of the
  | ~200 teams to have at least 3 expert reviews, then 600 expert reviews need
  | to be written.  So that each review can be thoughtful, we can’t ask experts
  | to write more than 10 reviews. Hence we needed to get over 60 expert
  | judges. Fortunately, we were able to achieve that goal with a **very
  | talented** pool of judges.
  | 
  | ### Public Voting
  | 
  | Any member of the general public may vote.  In fact, you are encouraged to
  | try and get as many people to vote for your entry as possible.
  | 
  | It will be very easy for anybody to vote (yes, your mom will be able to do
  | it).  However, we will have the following requirements for general public
  | voters:
  | 
  | - They will need a valid e-mail address (we will ask them to verify their
  |   votes by e-mail).
  | - They will need to vote for at least 5 entries before **any** of their
  |   votes count.
  | 
  | We will also be implementing a number of mechanisms to detect and eliminate
  | ballet stuffing, but the honor code also applies (see the cheating
  | section below).
  | 
  | ### Evaluation
  | 
  | Entries will be evaluated on a 1-5 scale in 4 dimensions:
  | 
  | - Usefulness - how useful is the service provided?
  | - Appearance - how good does it look?
  | - Innovation - how original was the idea and execution?
  | - Completeness - how "fully baked" is the site? Are there bugs or dead ends?
  | 
  | In addition, there will be a popularity component derived from each entry's
  | vote count.
  | 
  | ### Calculation
  | 
  | With the exception of the popularity component, which will be based purely
  | on public voting, a team's score will be determined by adding the expert
  | judging score and the public score for each dimension (usefulness,
  | appearance, innovation, and completeness).
  | 
  | The overall score will be the average score of the 5 components
  | (usefulness, appearance, innovation, completeness and popularity).
  | 
  | ### Prizes
  | 
  | There will be the following prize categories:
  | 
  | - Overall winner - the best overall score
  | - Solo winner - the best overall score for a one person team
  | - Usefulness winner - the highest usefulness score
  | - Appearance winner - the highest appearance score
  | - Innovation winner - the highest innovation score
  | - Completeness winner - the highest completeness score
  | - Popularity winner - the most popular
  | 
  | A team may only win one prize and will earn the highest prize (in the above
  | rank order) for which it qualifies, opening its spot in the running for
  | lower prizes to the next most qualified team.
  | 
  | ### Cheating
  | 
  | This is a competition for fun. The honor code applies: we’re trusting you
  | to do the honorable thing.
  | 
  | We will be implementing a zero tolerance policy towards cheating.  If you
  | are provably caught cheating, you will be disqualified immediately, banned
  | from all future events, generally be thought of as a bad person by all of
  | the organizers and potentially many, many more people.  Trust us, it's not
  | worth the risk.
  | 
  | ### Summary
  | 
  | There's no system of voting that will make everybody happy.  Our decisions
  | are based on lessons from dozens of other competitions and we believe that
  | they're going to make for a great Knockout.
  | 
  | But it’s important to remember at the end of the day, even if you don’t
  | win, you’ll still have had a great time, built something awesome, and
  | gotten a ton of exposure for your idea.
  | 
  | Interested in judging? [Contact us](mailto:all@nodeknockout.com).
  | 
  | [anchoring]: http://en.wikipedia.org/wiki/Anchoring
  | [grade along a curve]: http://en.wikipedia.org/wiki/Grading_on_a_curve
  | [law of large numbers]: http://en.wikipedia.org/wiki/Law_of_large_numbers

h2#judges.ribbon Expert Judges
- each judge in ctx.judges
  - if (judge.description)
    .judge
      h3( id: judge.name.toLowerCase().replace(/\W+/g, '_') )
        = judge.name
        - if (judge.signature)
          |  &mdash;
          != judge.signature
        - if (ctx.currentPerson && ctx.currentPerson.admin())
          | 
          a( href: '/people/' + judge.id() + '/edit' ) Edit
      img( src: '/images/judges/' + judge.name.replace(/\W+/g, '_') + '.jpg' )
      != judge.description
