h1.ribbon Vote for #{ctx.team.name}

!= partial("errors.html.haml", { locals: { ctx: ctx } })

form( method: 'POST', action: '/teams/' + ctx.team.toParam() + '/votes' )
  table
    - each dimension in ['Usefulness', 'Design', 'Innovation', 'Completeness']
      tr
        td
          label( for: dimension.toLowerCase() )= dimension
        td
          input( type: 'hidden', id: dimension.toLowerCase(), name: dimension.toLowerCase(), value: ctx.vote[dimension.toLowerCase()] || 0 )
          .stars
            - for (var val = 1; val <= 5; val++)
              span.star( 'data-value': val )
                span.empty ☆
                span.filled ★
  h2
    label( for: 'comment' ) Comment
  .note Optional. A 2-3 sentence mini-review.
  textarea( name: 'comment', id: 'comment', rows: 3 )

  h2
    label( for: 'email' ) Email
  - if (ctx.email)
    .email_hidden
      | Voting as #{ctx.email}.
      a( href: '#' ) Change
  .email_input( style: ctx.email ? 'display: none;' : '' )
    .note Required. To confirm your vote. We don't spam.
    input.email( type: 'text', name: 'email', id: 'email', value: ctx.email || '' )
    - if (!ctx.currentPerson)
      |  or
      a( href: '/login?return_to=/teams/' + ctx.team.toParam() + '/votes/new' ) Login

  p
    input.button( type: 'submit', value: 'Vote!' )

