border-image()
  -webkit-border-image arguments
  -moz-border-image arguments
  border-image arguments

@font-face
  font-family "04b_03"
  src url('/fonts/04b_03__-webfont.eot')
  src url('/fonts/04b_03__-webfont.eot?iefix') format('eot'), url('/fonts/04b_03__-webfont.woff') format('woff'), url('/fonts/04b_03__-webfont.ttf') format('truetype'), url('/fonts/04b_03__-webfont.svg#webfontiFL0wwqh') format('svg')
  font-weight normal
  font-style normal

header, footer
  display block
time
  display inline

body
  font-family "04b_03", monospace
  text-align center
  background hsl(200, 30%, 95%) url('/images/noise.png') repeat
  text-shadow 0px 1px 0px hsla(0, 100%, 100%, 0.6)

a:link, a:visited
  color hsl(200, 30%, 60%)

p
  line-height 150%

header
  h1
    font-size 72pt
    word-spacing -0.5ex
    .ko
      background-color black
      color white
      text-shadow 0px 2px 0px hsla(0, 100%, 100%, 0.5)
      padding 10px 10px 0 25px
      border-radius 2px
      border solid 1px hsla(0, 100%, 100%, 0.5)

h2
  margin 2em
  .dates
    font-size 32pt
  #countdown
    margin 0.5em

footer
  margin-top 5em
  li
    display inline-block
    margin 0 1ex

.thing
  position absolute
  .bubble
    position absolute
    left -15px
    width 294px - 20px - 21px
    max-height 133px - 21px - 42px
    border-image url('/images/734m/talkbubble1.png') 21 20 42 21
    border-width 21px 20px 42px 21px
    padding 5px
    display none
    text-align center
    overflow-y auto
    white-space pre-wrap
    line-height 125%
  ::-webkit-scrollbar
    width 1ex
  ::-webkit-scrollbar-thumb:vertical
    background-color hsla(0, 0%, 0%, 0.2)
  .textarea-container
    overflow hidden
    position relative
    height 1px
    width 1px
    textarea
      position absolute
      left -100px
      width 80px

.page
  position absolute
  width 800px
  overflow hidden
  text-align left

.page#index
  top 4000px
  left 4000px
  text-align center

.page#about
  width 480px
  top 4000px
  left 5040px
