@font-face
  font-family "04b_03"
  src url(/fonts/04B_03__.TTF)

header, footer
  display block

body
  font-family "04b_03", monospace
  text-align center
  background hsl(200, 30%, 95%) url('/images/noise.png') repeat
  text-shadow 0px 1px 0px hsla(0, 100%, 100%, 0.6)

a:link, a:visited
  color hsl(200, 30%, 60%)

header
  h1
    font-size 72pt
    word-spacing -0.5ex
    .ko
      background-color black
      color white
      text-shadow 0px 2px 0px hsla(0, 100%, 100%, 0.5)
      padding 10px 10px 0 25px
      border-radius 2px
      border solid 1px hsla(0, 100%, 100%, 0.5)

h2
  margin 2em
  .dates
    font-size 32pt
  #countdown
    margin 0.5em

footer
  margin-top 5em
  li
    display inline-block
    margin 0 1ex
