- if (ctx.person)
  h2 Congratulations!
  p Your email address has been confirmed.
  p
    a( href: '/people/' + ctx.person.toParam() ) View my votes
    |  or 
    a( href: '/teams' ) Vote some more
- else
  h2 Confirm Your Email
  p.note
    | Please check your email for a confirmation code, and
    | enter it in the form below.
  != partial('errors.html.haml', { locals: { ctx: ctx } })
  form( method: 'GET', action: ctx.req.url )
    p
      input( type: 'text', placeholder: 'Confirmation Code', name: 'confirmKey', value: ctx.confirmKey || '' )
    p
      input.button( type: 'submit', value: 'Confirm' )
  form.resend( method: 'POST', action: ctx.req.url )
    input( type: 'hidden', name: 'resend', value: true )
    a( href: '#' ) Resend confirmation code