%h1.ribbon
  - if (this.person.name)
    Edit Profile
  - if (!this.person.name)
    Finish your registration

!= this.partial("errors.html.haml")

%form{ method: 'POST', action: '/people/' + this.person.id() + '?_method=PUT' }
  %h3
    %label{ for: 'name' } Name / Handle
  %input{ type: 'text', name: 'name', id: 'name', value: this.person.name, autofocus: true }
  
  %h3
    %label{ for: 'email' } Email
  .note We don&rsquo;t spam.  Only visible to team members.
  %input{ type: 'email', name: 'email', id: 'email', value: this.person.email }
  
  %h3
    %label{ for: 'password' } Password
  %a.reveal{ href: '#' } Click to change
  .hidden
    %input{ type: 'password', name: 'password', id: 'password' }
  
  %h2 Optional
  %p
    Everything below is optional for now. Fill it out and we won't bug you about
    it later.
  %h3
    %label{ for: 'link' } Link
    .note Let other participants know who you are.
  %input.url{ type: 'text', name: 'link', id: 'link', value: this.person.link || 'http://' }
  
  %h3
    %label{ for: 'github' } GitHub username
    .note
      During the contest, code must be pushed to
      %a{ href: 'http://github.com' } GitHub
      to help us proctor.
  %input{ type: 'text', name: 'github', id: 'github', value: this.person.github }
  
  %h2 Deployment
  %p
    Entries can be deployed to either
    %a{ href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout' } Joyent
    or
    != ' <a href="http://heroku.com">Heroku</a>. '
    Both services have donated virtual servers to be used by contestants during
    the competition. If you already have accounts, please provide your
    usernames to facilitate setup later.
  %h3
    %label{ for: 'joyent' } Joyent username
  %input{ type: 'text', name: 'joyent', id: 'joyent', value: this.person.joyent }
  %h3
    %label{ for: 'heroku' } Heroku username
  %input{ type: 'text', name: 'heroku', id: 'heroku', value: this.person.heroku }
  
  %p
    %input.button{ type: 'submit', value: 'Save' }
