%h1
  - if (ctx.person.name)
    Edit Profile
  - if (!ctx.person.name)
    Finish your registration

!= partial("errors.html.haml", { locals: { ctx: ctx } })

%form{ method: 'POST', action: '/people/' + ctx.person.toParam() }
  %input{ type: 'hidden', name: '_method', value: 'put' }
  != partial('people/form.html.haml', { locals: { ctx: ctx } })
  %p
    %input.button{ type: 'submit', value: 'Save' }

- if (ctx.isAdmin)
  %form{ method: 'POST', action: '/people/' + ctx.person.toParam() }#delete
    %input{ type: 'hidden', name: '_method', value: 'delete' }
    %input.button{ type: 'submit', rel: 'nofollow', value: 'Delete', onclick: "return confirm('Are you sure you want to delete this person?');" }
