%h1 Edit Profile

!= this.partial("errors.html.haml")

%form{ method: 'POST', action: '/people/' + this.person.id() + '?_method=PUT' }
  %h2
    %label{ for: 'name' } Name
  %input{ type: 'text', name: 'name', id: 'name', value: this.person.name, autofocus: true }
  
  %h2
    %label{ for: 'email' } Email
  .note We don&rsquo;t spam.  Only visible to team members.
  %input{ type: 'email', name: 'email', id: 'email', value: this.person.email }
  
  %h2
    %label{ for: 'password' } Password
  %a.reveal{ href: '#' } Click to change.
  .hidden
    %input{ type: 'password', name: 'password', id: 'password' }
  
  %h2
    %label{ for: 'link' } Link
  .note Optional. Let other participants know who you are.
  %input.link{ type: 'text', name: 'link', id: 'link', value: this.person.link || 'http://' }
  
  %p
    %input.button{ type: 'submit', value: 'Save' }