li( 'class': reply.person.type + ' small')
  .reply= reply.body
  .replyer
    a( href: '/people/' + reply.person.toParam() )
      = reply.person.displayName()
    | 
    time( datetime: reply.createdAt.toISOString() )
    | 
    - if (ctx.canReplyTo(vote))
      - replyAnchor = '#reply-' + vote.id()
      a.reply( href: replyAnchor ) reply

