- each vote, i in ctx.votes
  - if (i == 0 && !vote.comment && !ctx.noHeader)
    li.header
      .vote
        table.dimensions
          tr
            - each dimension in ['Utility', 'Design', 'Innovation', 'Completeness']
              th
                label= dimension
  li( 'class': vote.comment ? '' : 'small', id: vote.id() )
    .voter
      - if ('showTeam' in ctx && ctx.showTeam)
        != partial('votes/team.html.haml', { locals: { vote: vote }})
      - else
        != partial('votes/voter.html.haml', { locals: { vote: vote }})
    .vote
      table.dimensions
        tr
          - ['Utility', 'Design', 'Innovation', 'Completeness'].forEach(function(dimension) {
            td
              label= dimension
              .stars
                - val = vote[dimension.toLowerCase()]
                - for (var i = 0; i < val; i++)
                  span.filled ★
                  | 
                - for (var i = val; i < 5; i++)
                  span.empty ☆
                  | 
          - });
      - if (vote.comment)
        p.comment= vote.comment
        .clear
