%table.dimensions
  %tr
    - each dimension in ['Utility', 'Design', 'Innovation', 'Completeness']
      %td
        %label
          %span.tip= dimension
        %input{ type: 'hidden', id: dimension.toLowerCase(), name: dimension.toLowerCase(), value: vote[dimension.toLowerCase()] || 0 }
        .stars
          - for (var val = 1; val <= 5; val++)
            %span.star{ 'data-value': val }
              %span.empty ☆
              %span.filled ★
