- if (vote.person)
  != gravatar(vote.person, 50)
  %a{ href: '/people/' + vote.person.toParam() }= vote.person.displayName()
.details
  %time{ datetime: vote.createdAt.toISOString() }
  .remote= vote.remoteAddress
